.App {
  font-family: sans-serif;
  text-align: center;
}
.post {
  border: 2px solid black;
  font-family: "Courier New", Courier, monospace;
  margin: 30px 20px 0px 20px;
  background: white;
  text-decoration: underline;
}
.hide {
  display: none;
}
.likeSpan {
  color: blue;
}
.postQuestion {
  text-decoration: underline;
}
body {
  background: linear-gradient(to right, #000010, #00001a);
}
header {
  color: white;
}
.faq {
  font-size: 100px;
}
